@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #113031;
  line-height: 2;
}
h1,
h2,
h3 {
  font-family: 'Lora', 'Times New Roman', Times, serif;
}
h4,
h5,
h6 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.green-btn {
    border-radius: 999px !important;
    margin: 20px;
    font-size: 14px !important;
    font-weight: 600;
    color: #113031 !important;
    background-color: #00FF45 !important;
    border: none !important;
    box-shadow: 0px 3px 15px rgba(0,0,0,0) !important;
    transition: .5s background-color;
}
.green-btn:hover {
  background-color: #FFFF00 !important;
}