.CircularProgressbar-text {
  font-family: "Lora", "Times New Roman", Times, serif;
}
.dashboard-card {
  border-radius: 30px !important;
  box-shadow: none !important;
}
.picker {
  font-size: 14px !important;
  font-weight: 600;
  color: #113031 !important;
  padding-left: 2em;
  text-decoration: none !important;
}
input:not([type]),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
textarea.materialize-textarea {
  /* border: none !important; */
}

.picker__date-display {
  background-color:#69f0ae;
}
.picker__weekday-display {
  background-color:#69f0ae;
}
/* .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color:blue;
} */

.picker__date-display { background-color: #69f0ae; }
.datepicker-date-display {
  background-color: #69f0ae;;
 }