.navbar-style {
    background-color: #113031;
    border-radius: 40px 50px 50px 0;
    height: 100px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0);
    padding: 20px;
    padding-left: 30px;
}
nav ul li {
    padding: 0 20px 0 20px !important;
}
nav ul a:hover {
    background-color: #fff !important;
    border-radius: 90px 90px 0 0;
    height: 100px;
    color: #113031;
}
nav ul a:active {
    background-color: #fff !important;
    border-radius: 90px 90px 0 0;
    height: 100px;
    color: #113031;
}
nav ul a:focus {
    background-color: #fff !important;
    border-radius: 90px 90px 0 0;
    height: 100px;
    color: #113031;
}
nav ul a {
    transition: none !important;
}